html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main_canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    /* size set in JS */
}

#main_content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 96vw;
    height: 96vh;
    padding: 2vh 2vw;
}

h1 {
    margin: 0.375rem 0;
    font-family: "Montserrat Subrayada", serif;
    font-size: 5vw;
    color: #343443;
}

h2 {
    margin: 0.25rem 0;
    font-family: "Montserrat Subrayada", serif;
    font-size: 4vw;
    color: #446DB0;
}

a, p {
    margin: 0;
    font-family: "Syne Mono", serif;
    font-size: 1.65vw;
    color: #04724D;
}

img {
    max-width: 100%;
    height: 30vh;
    border-radius: 1vh;
}

.data_div {
    width: 94vw;
    height: 94vh;
    overflow: hidden;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    border: 1px solid #343443;
    border-radius: 1vh;
    /* white-space: nowrap; */
}

.d_none {
    display: none;
}

.hide_right {
    margin-left: 100vw;
}
